In [183]:
import os
import pandas as pd

REPO_DIR = os.path.dirname(os.path.abspath(''))
DATA_DIR = os.path.join(REPO_DIR, "data/")

#FILE_PATH = os.path.join(DATA_DIR, "articles/bitcoin.csv")
FILE_PATH = os.path.join(DATA_DIR, "articles/back.txt")
HISTORY_PATH = os.path.join(DATA_DIR, "articles/history.csv")

# Read dataset

In [184]:
#df = pd.read_csv(r'C:\Users\HP 1030 G2\Desktop\Cours DIT\El Hadj\oil-stocks-prediction\data\articles\back.txt',sep='|',encoding='latin-1',error_bad_lines=False)
df = pd.read_csv(FILE_PATH, sep='|', encoding='utf-8', error_bad_lines=False)
df

b'Skipping line 387: expected 5 fields, saw 6\nSkipping line 4827: expected 5 fields, saw 6\n'

,Source_date,hash,news,journal,date
0,"09/30/2021, 20:54:18",fc7a05bddeb9dc122b2cc81d4a3681f5,"Buy Solana (SOL) Now, or Wait for a Dip on Alt...",By InsideBitcoins,2021-09-30
1,"09/30/2021, 20:54:18",4071dc6d77f81e7e76294d69a0bd0b12,Bitcoin (BTC) Price Prediction: BTC/USD Faces ...,By InsideBitcoins,2021-09-30
2,"09/30/2021, 20:54:18",f584141957ed385e1343c6ab08ba6f2e,ADAX Pro AMA Takeaway. Launching As Soon As Q4,By DailyCoin,2021-09-30
3,"09/30/2021, 20:54:18",5c2bf946cf892db1cc258681e7372126,Bitcoin Forecast For 2022 From Financial Insti...,By DailyCoin,2021-09-30
4,"09/30/2021, 20:54:18",302914b28fdfa98c83e9c190e0156b23,Crypto: Decentralized finance protocol Compoun...,By MarketWatch,2021-09-30
...,...,...,...,...,...
5531,"09/30/2021, 21:32:47",bbf292eaa0a4b086c786287e601664cc,"Hut 8 Buys 11,090 New Bitcoin Mining Rigs For ...",By Bitcoin Magazine,2021-07-01
5532,"09/30/2021, 21:32:47",1a63542f6c6ab53ccb97c67653df92ef,Think Bitcoin is Due for a Rally? Consider The...,By StockNews,2021-07-01
5533,"09/30/2021, 21:32:47",23c632e95220a6bc3f09b584f150a488,Mexico Rebukes Pliego’s Calls for BTC Transact...,By Live Bitcoin News,2021-07-01
5534,"09/30/2021, 21:32:47",1a63542f6c6ab53ccb97c67653df92ef,Think Bitcoin is Due for a Rally? Consider The...,By StockNews,2021-07-01
5535,"09/30/2021, 21:32:47",1275c5e6add91c4fd208a68d666c9c74,Strike Adds Bitcoin Buying Tab In App,By Bitcoin Magazine,2021-07-01

In [185]:
# drop unuseful variables
df = df.drop(['Source_date','hash','journal'], axis=1)
df

                                                   news        date
0     Buy Solana (SOL) Now, or Wait for a Dip on Alt...  2021-09-30
1     Bitcoin (BTC) Price Prediction: BTC/USD Faces ...  2021-09-30
2        ADAX Pro AMA Takeaway. Launching As Soon As Q4  2021-09-30
3     Bitcoin Forecast For 2022 From Financial Insti...  2021-09-30
4     Crypto: Decentralized finance protocol Compoun...  2021-09-30
...                                                 ...         ...
5531  Hut 8 Buys 11,090 New Bitcoin Mining Rigs For ...  2021-07-01
5532  Think Bitcoin is Due for a Rally? Consider The...  2021-07-01
5533  Mexico Rebukes Pliego’s Calls for BTC Transact...  2021-07-01
5534  Think Bitcoin is Due for a Rally? Consider The...  2021-07-01
5535              Strike Adds Bitcoin Buying Tab In App  2021-07-01

[5536 rows x 2 columns]

In [186]:
# aggregate per date
df['daily_news'] = df.groupby(['date'])['news'].transform(lambda x : ' '.join(x))
df = df.drop('news', axis=1)
df = df.drop_duplicates()
df = df.set_index("date")

#df = df.reset_index()
df

                                                   daily_news
date
2021-09-30  Buy Solana (SOL) Now, or Wait for a Dip on Alt...
2021-09-29  A flippant Elon Musk takes shots at Biden, the...
2021-09-28  El Salvador President Shares Images of What Se...
2021-09-27  TA: Bitcoin Stuck In Range, What Could Spark K...
2021-09-26  TA: Bitcoin Forms Bullish Pattern, Why BTC Cou...
...                                                       ...
2021-07-05  TA: Bitcoin Prints Bearish Technical Pattern, ...
2021-07-04  TA: Bitcoin Correcting Gains, What Could Trigg...
2021-07-03  JPMorgan Predicts When Bitcoin Bear Market Wil...
2021-07-02  Bitcoin Blocks Will Soon Be 27% Easier to Find...
2021-07-01  Use Of Green Energy For Bitcoin Mining Increas...

[91 rows x 1 columns]

# Load historical file

In [187]:
history = pd.read_csv(HISTORY_PATH)
history

          Date   Dernier      Ouv. Plus Haut  Plus Bas    Vol. Variation %
0   30/09/2021  43.823,3  41.534,5  44.101,2  41.416,7  64,32K       5,50%
1   29/09/2021  41.536,8  41.023,1  42.571,2  40.815,0  48,21K       1,25%
2   28/09/2021  41.022,3  42.169,9  42.758,8  40.906,4  60,01K      -2,73%
3   27/09/2021  42.172,6  43.200,9  44.293,2  42.143,9  54,12K      -2,39%
4   26/09/2021  43.203,4  42.685,8  43.907,3  40.786,6  69,91K       1,21%
..         ...       ...       ...       ...       ...     ...         ...
87  05/07/2021  33.687,8  35.297,0  35.300,5  33.164,1  88,36K      -4,56%
88  04/07/2021  35.298,2  34.742,8  35.957,6  34.740,1  56,13K       1,60%
89  03/07/2021  34.742,8  33.814,2  34.909,8  33.363,3  55,69K       2,75%
90  02/07/2021  33.813,4  33.542,2  33.925,9  32.734,6  78,93K       0,80%
91  01/07/2021  33.543,6  35.030,7  35.032,7  32.839,2  27,41K      -4,23%

[92 rows x 7 columns]

In [189]:
history = history.drop(['Plus Haut','Plus Bas','Vol.', 'Variation %'], axis=1)
history

          Date   Dernier      Ouv.
0   30/09/2021  43.823,3  41.534,5
1   29/09/2021  41.536,8  41.023,1
2   28/09/2021  41.022,3  42.169,9
3   27/09/2021  42.172,6  43.200,9
4   26/09/2021  43.203,4  42.685,8
..         ...       ...       ...
87  05/07/2021  33.687,8  35.297,0
88  04/07/2021  35.298,2  34.742,8
89  03/07/2021  34.742,8  33.814,2
90  02/07/2021  33.813,4  33.542,2
91  01/07/2021  33.543,6  35.030,7

[92 rows x 3 columns]

In [192]:
history.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92 entries, 0 to 91
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Date     92 non-null     object
 1   Dernier  92 non-null     object
 2   Ouv.     92 non-null     object
dtypes: object(3)
memory usage: 2.3+ KB

In [198]:
def labelize(s):
   if s >= 0:
      return "positive"
   return "negative"
cols = ["Dernier", "Ouv."]

for col in cols:
   history[col] = history[col].apply(lambda s: s.split(',')[0])

history[cols] = history[cols].astype("float")
cols = cols + ["Date"]
history = history[cols]
history["label"] = history["Dernier"] - history["Ouv."]
history = history[["Date", "label"]]
history.label = history.label.apply(lambda s: labelize(s))
history

<ipython-input-198-df00969bdbb1>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  history["label"] = history["Dernier"] - history["Ouv."]

          Date     label
0   30/09/2021  positive
1   29/09/2021  positive
2   28/09/2021  negative
3   27/09/2021  negative
4   26/09/2021  positive
..         ...       ...
87  05/07/2021  negative
88  04/07/2021  positive
89  03/07/2021  positive
90  02/07/2021  positive
91  01/07/2021  negative

[92 rows x 2 columns]

In [190]:
label = history['Dernier'] - history['Ouv.']

TypeError: unsupported operand type(s) for -: 'str' and 'str'