In [62]:
import pandas as pd

In [63]:
import pandas as pd
df = pd.read_csv(r'C:\Users\HP 1030 G2\Desktop\Cours DIT\El Hadj\oil-stocks-prediction\data\articles\output.csv',sep='|', header=None, encoding='latin-1')
df.head(10)

                                                   0                  1
0  Les contrats à terme sur Gaz naturel ont augme...  Il y a 59 minutes
1  Soulagement général sur Evergrande, la Fed à s...    Il y a 2 heures
2  Les stocks de pétrole ont diminué de 3,48 mill...    Il y a 4 heures
3  Wall Street attendue en hausse, soulagement gé...    Il y a 7 heures
4      Du vert en Europe, soulagement sur Evergrande   Il y a 10 heures
5  Du vert en vue en Europe, soulagement sur Ever...   Il y a 12 heures
6  Les contrats à terme sur Pétrole Brut ont augm...   Il y a 15 heures
7  Les contrats à terme sur Pétrole Brut ont augm...   Il y a 23 heures
8  Les contrats à terme sur Gaz naturel ont recul...         21/09/2021
9  L'Europe finit en hausse, regain d'optimisme a...         21/09/2021

In [45]:
df.shape

(10, 2)

In [46]:
df.isnull().sum()

0    0
1    0
dtype: int64

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       10 non-null     object
 1   1       10 non-null     object
dtypes: object(2)
memory usage: 288.0+ bytes

In [48]:
df.describe(include="all")

                                                        0           1
count                                                  10          10
unique                                                 10           9
top     Wall Street ouvre dans le vert, la menace Ever...  20/09/2021
freq                                                    1           2

In [49]:
df.nunique()

0    10
1     9
dtype: int64

In [51]:
df[0].values

array(['Les contrats à terme sur Pétrole Brut ont augmenté durant la séance américaine',
       'Les contrats à terme sur Gaz naturel ont reculé durant la séance américaine',
       "L'Europe finit en hausse, regain d'optimisme après Evergrande",
       'Wall Street ouvre dans le vert, la menace Evergrande jugée limitée',
       'Rebond en vue à Wall Street comme en Europe, la peur reflue',
       'Le pétrolier Shell quitte le Texas en vendant tous ses actifs à ConocoPhillips',
       'Les actions européennes rebondissent, UMG réussit son entrée',
       'Les contrats à terme sur Pétrole Brut ont augmenté durant la séance en Asie',
       'Les contrats à terme sur Pétrole Brut ont reculé durant la séance américaine',
       'Les contrats à terme sur Gaz naturel ont augmenté durant la séance américaine'],
      dtype=object)

In [52]:
df[0].values[:5]

array(['Les contrats à terme sur Pétrole Brut ont augmenté durant la séance américaine',
       'Les contrats à terme sur Gaz naturel ont reculé durant la séance américaine',
       "L'Europe finit en hausse, regain d'optimisme après Evergrande",
       'Wall Street ouvre dans le vert, la menace Evergrande jugée limitée',
       'Rebond en vue à Wall Street comme en Europe, la peur reflue'],
      dtype=object)

In [65]:
df.groupby(1)[0].apply(list)[0]

['Les contrats à terme sur Gaz naturel ont reculé durant la séance américaine',
 "L'Europe finit en hausse, regain d'optimisme après Evergrande"]

In [72]:
import spacy
#!python -m spacy download fr_core_news_sm
nlp_fr = spacy.load('fr_core_news_sm')
stopwords = spacy.lang.fr.stop_words.STOP_WORDS

def process_data(text):
    doc = nlp_fr(text)
    return [word.lemma_.lower() for word in doc if word.is_alpha and word.text.lower() not in stopwords]

In [73]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [74]:
df['text'] = df[0] + ' ' + df[1]
df['stop'] = df['text'].apply(process_data)

# Instantiate the TF-IDF vectorizer
vectorizer = TfidfVectorizer(lowercase=False, analyzer=lambda x: x)
# Compute the TF-IDF
tf_idf = vectorizer.fit_transform(df['stop']).toarray()

In [75]:
df.head()

,0,1,text,stop
0,Les contrats à terme sur Gaz naturel ont augme...,Il y a 59 minutes,Les contrats à terme sur Gaz naturel ont augme...,"[contrat, terme, gaz, naturel, augmenter, séan..."
1,"Soulagement général sur Evergrande, la Fed à s...",Il y a 2 heures,"Soulagement général sur Evergrande, la Fed à s...","[soulagement, général, evergrande, fed, heure]"
2,"Les stocks de pétrole ont diminué de 3,48 mill...",Il y a 4 heures,"Les stocks de pétrole ont diminué de 3,48 mill...","[stock, pétrole, diminuer, million, baril, sem..."
3,"Wall Street attendue en hausse, soulagement gé...",Il y a 7 heures,"Wall Street attendue en hausse, soulagement gé...","[wall, street, attendre, hausse, soulagement, ..."
4,"Du vert en Europe, soulagement sur Evergrande",Il y a 10 heures,"Du vert en Europe, soulagement sur Evergrande ...","[vert, europe, soulagement, evergrande, heure]"

In [77]:
df1=pd.DataFrame(data=tf_idf,columns=vectorizer.get_feature_names())
df1.head()

,américain,asie,attendre,augmenter,baril,brut,contrat,dernier,diminuer,eia,...,regain,semaine,soulagement,stock,street,séance,terme,vert,vue,wall
0,0.33725,0.0,0.000000,0.33725,0.00000,0.0,0.299839,0.00000,0.00000,0.00000,...,0.0,0.00000,0.000000,0.00000,0.000000,0.299839,0.299839,0.000000,0.0,0.000000
1,0.00000,0.0,0.000000,0.00000,0.00000,0.0,0.000000,0.00000,0.00000,0.00000,...,0.0,0.00000,0.420494,0.00000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
2,0.00000,0.0,0.000000,0.00000,0.35827,0.0,0.000000,0.35827,0.35827,0.35827,...,0.0,0.35827,0.000000,0.35827,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
3,0.00000,0.0,0.427461,0.00000,0.00000,0.0,0.000000,0.00000,0.00000,0.00000,...,0.0,0.00000,0.282649,0.00000,0.427461,0.000000,0.000000,0.000000,0.0,0.427461
4,0.00000,0.0,0.000000,0.00000,0.00000,0.0,0.000000,0.00000,0.00000,0.00000,...,0.0,0.00000,0.435693,0.00000,0.000000,0.000000,0.000000,0.560138,0.0,0.000000

In [81]:
from textblob import TextBlob

In [82]:
#TextBlob(df['stop']).sentiment