In [92]:
import os
import pandas as pd

REPO_DIR = os.path.dirname(os.path.abspath(''))
DATA_DIR = os.path.join(REPO_DIR, "data/")

FILE_PATH = os.path.join(DATA_DIR, "articles/bitcoin.csv")

In [110]:
df = pd.read_csv(r'C:\Users\HP 1030 G2\Desktop\Cours DIT\El Hadj\oil-stocks-prediction\data\articles\back.txt',sep='|',encoding='latin-1',error_bad_lines=False)
df

b'Skipping line 387: expected 5 fields, saw 6\nSkipping line 4827: expected 5 fields, saw 6\n'

,Source_date,hash,news,journal,date
0,"09/30/2021, 20:54:18",fc7a05bddeb9dc122b2cc81d4a3681f5,"Buy Solana (SOL) Now, or Wait for a Dip on Alt...",By InsideBitcoins,2021-09-30
1,"09/30/2021, 20:54:18",4071dc6d77f81e7e76294d69a0bd0b12,Bitcoin (BTC) Price Prediction: BTC/USD Faces ...,By InsideBitcoins,2021-09-30
2,"09/30/2021, 20:54:18",f584141957ed385e1343c6ab08ba6f2e,ADAX Pro AMA Takeaway. Launching As Soon As Q4,By DailyCoin,2021-09-30
3,"09/30/2021, 20:54:18",5c2bf946cf892db1cc258681e7372126,Bitcoin Forecast For 2022 From Financial Insti...,By DailyCoin,2021-09-30
4,"09/30/2021, 20:54:18",302914b28fdfa98c83e9c190e0156b23,Crypto: Decentralized finance protocol Compoun...,By MarketWatch,2021-09-30
...,...,...,...,...,...
5531,"09/30/2021, 21:32:47",bbf292eaa0a4b086c786287e601664cc,"Hut 8 Buys 11,090 New Bitcoin Mining Rigs For ...",By Bitcoin Magazine,2021-07-01
5532,"09/30/2021, 21:32:47",1a63542f6c6ab53ccb97c67653df92ef,Think Bitcoin is Due for a Rally? Consider The...,By StockNews,2021-07-01
5533,"09/30/2021, 21:32:47",23c632e95220a6bc3f09b584f150a488,Mexico Rebukes Pliegoâs Calls for BTC Transa...,By Live Bitcoin News,2021-07-01
5534,"09/30/2021, 21:32:47",1a63542f6c6ab53ccb97c67653df92ef,Think Bitcoin is Due for a Rally? Consider The...,By StockNews,2021-07-01
5535,"09/30/2021, 21:32:47",1275c5e6add91c4fd208a68d666c9c74,Strike Adds Bitcoin Buying Tab In App,By Bitcoin Magazine,2021-07-01

In [111]:
df=df.drop(['Source_date','hash','journal'],axis=1)
df

                                                   news        date
0     Buy Solana (SOL) Now, or Wait for a Dip on Alt...  2021-09-30
1     Bitcoin (BTC) Price Prediction: BTC/USD Faces ...  2021-09-30
2        ADAX Pro AMA Takeaway. Launching As Soon As Q4  2021-09-30
3     Bitcoin Forecast For 2022 From Financial Insti...  2021-09-30
4     Crypto: Decentralized finance protocol Compoun...  2021-09-30
...                                                 ...         ...
5531  Hut 8 Buys 11,090 New Bitcoin Mining Rigs For ...  2021-07-01
5532  Think Bitcoin is Due for a Rally? Consider The...  2021-07-01
5533  Mexico Rebukes Pliegoâs Calls for BTC Transa...  2021-07-01
5534  Think Bitcoin is Due for a Rally? Consider The...  2021-07-01
5535              Strike Adds Bitcoin Buying Tab In App  2021-07-01

[5536 rows x 2 columns]

In [112]:
df.shape

(5536, 2)

In [113]:
df.isnull().sum()

news    0
date    0
dtype: int64

In [114]:
df.describe(include="all")

                            news        date
count                       5536        5536
unique                      5096          91
top     EOS Falls 10% In Selloff  2021-07-26
freq                           6         113

In [117]:
df['news'].values

array(['Buy Solana (SOL) Now, or Wait for a Dip on Altcoins?',
       'Bitcoin (BTC) Price Prediction: BTC/USD Faces Rejection at $44k High as Bitcoin Consolidates Above $42k',
       'ADAX Pro AMA Takeaway. Launching As Soon As Q4', ...,
       'Mexico Rebukes Pliegoâ\x80\x99s Calls for BTC Transactions',
       'Think Bitcoin is Due for a Rally? Consider These 2 Crypto Stocks Wall Street Loves',
       'Strike Adds Bitcoin Buying Tab In App'], dtype=object)

In [127]:
df_train = df.groupby('date')['news'].apply(list)
df_train.head()

date
2021-07-01    [Use Of Green Energy For Bitcoin Mining Increa...
2021-07-02    [Bitcoin Blocks Will Soon Be 27% Easier to Fin...
2021-07-03    [JPMorgan Predicts When Bitcoin Bear Market Wi...
2021-07-04    [TA: Bitcoin Correcting Gains, What Could Trig...
2021-07-05    [TA: Bitcoin Prints Bearish Technical Pattern,...
Name: news, dtype: object

In [130]:
df_train.shape

(91,)

In [129]:
df_test = pd.read_csv(r'C:\Users\HP 1030 G2\Desktop\Cours DIT\El Hadj\oil-stocks-prediction\data\articles\Bitcoin - Données Historiques.csv',sep=',',encoding='latin-1',error_bad_lines=False)
df_test

     ï»¿"Date"   Dernier      Ouv. Plus Haut  Plus Bas    Vol. Variation %
0   30/09/2021  43.823,3  41.534,5  44.101,2  41.416,7  64,32K       5,50%
1   29/09/2021  41.536,8  41.023,1  42.571,2  40.815,0  48,21K       1,25%
2   28/09/2021  41.022,3  42.169,9  42.758,8  40.906,4  60,01K      -2,73%
3   27/09/2021  42.172,6  43.200,9  44.293,2  42.143,9  54,12K      -2,39%
4   26/09/2021  43.203,4  42.685,8  43.907,3  40.786,6  69,91K       1,21%
..         ...       ...       ...       ...       ...     ...         ...
87  05/07/2021  33.687,8  35.297,0  35.300,5  33.164,1  88,36K      -4,56%
88  04/07/2021  35.298,2  34.742,8  35.957,6  34.740,1  56,13K       1,60%
89  03/07/2021  34.742,8  33.814,2  34.909,8  33.363,3  55,69K       2,75%
90  02/07/2021  33.813,4  33.542,2  33.925,9  32.734,6  78,93K       0,80%
91  01/07/2021  33.543,6  35.030,7  35.032,7  32.839,2  27,41K      -4,23%

[92 rows x 7 columns]